@mixin title-size($title-size-color: $main-text-color) {
 	font-size: 90px;
 	font-weight: 700;
 	color: $title-size-color;
 	text-transform: capitalize;
}

@mixin subtitle-size($title-size-color: $main-text-color) {
 	font-size: 17px;
 	font-weight: 300;
	line-height: 1.588;//27px
 	color: $title-size-color;
}

@mixin action-size() {
	max-width: 200px;
	height: 55px;
}